
<section class="hero">
    <div class="hero__conteiner">

       

        <h1 class="hero__lable">ice cream
        made with
        passion</h1>

        <button class="button" id="products" type="button">Products</button>
        <button class="button" id="How it's made" type="button">How it's made?</button>

        <img src="" alt="Bio Eco">

        <p class="hero__text"> Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et</p>

        <img src="" alt="ice cream">

        <img src="" alt="cafe">

        <img src="" alt="trucks">

        <img src="" alt="girls">

    </div>
</section>